<!-- templates/signup.html -->
{% extends "base.html" %}

{% block content %}

 <p> Pour faire une autre extracion, <a href= "{{ url_for("auth.upload") }}", style="color:#0000FF;">cliquez ici</a></p><br/></p>

 <p><h2>Le fichier "{{name}}" à été correctement envoyé.</h2></p> <br/>

 <p> Pour télécharger le résultat en CSV, <a href= "{{ url_for("auth.download") }}", style="color:#0000FF;">cliquez ici</a></p><br/></p>


 <p><h2><b>Résultat de l'extraction: </h2></p></b>  <br/> 
 
  <p>{% for result in liste_sortie %}
            <tr>
                <td>{{ result }}<br></td>

            </tr>

            
{% endfor %}</p>
   
 
 <p> Pour faire une autre extracion, <a href= "{{ url_for("auth.upload") }}", style="color:#0000FF;">cliquez ici</a></p>
{% endblock %}
